{% extends "C:\Users\User\PycharmProjects\online_courses\course\templates\course\base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style_index.css'%}" type="text/css">



{% block content %}
    <p>{{ instructor.email }}</p>
    <p>{{ instructor.username }}</p>
    <p>{{ instructor.bio | safe }}</p>
    <hr>
    <p>{{ course.title }}</p>
    <p>{{ course.description }}</p>
    <p>{{ setting.about_course | safe }}</p>
    <img src="{{ setting.image.url }}">

    <p>{{ instructor.email }}</p>

{% endblock %}