{% extends "C:\Users\User\PycharmProjects\online_courses\course\templates\course\base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style_index.css'%}" type="text/css">



{% block content %}

    <section class="container py-3">
        <div class="bd-example">
            <nav>
                <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-mark-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-mark" type="button" role="tab" aria-controls="nav-mark"
                            aria-selected="true">Информация о курсе</button>
                    <button class="nav-link" id="nav-progress-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-progress" type="button" role="tab" aria-controls="nav-progress"
                            aria-selected="false">Инструктор курса</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-mark" role="tabpanel" aria-labelledby="nav-mark-tab">

                    <p>{{ course.title }}</p>
                    <p>{{ course.description }}</p>
                    <p>{{ setting.about_course | safe }}</p>
                    <img src="{{ setting.image.url }}">

                </div>
                <div class="tab-pane fade" id="nav-progress" role="tabpanel" aria-labelledby="nav-progress-tab">
                    <p>{{ instructor.email }}</p>
                    <p>{{ instructor.username }}</p>
                    <p>{{ instructor.bio | safe }}</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}