{% extends "module/content/base_nav.html" %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
{% load django_bootstrap5 %}
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/list_oi.css'%}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


    <section class="container py-2 bg-light">
{#    <p>Название модуля {{ module.title }} </p>#}
{##}
{#    <p>Изменить название модуля: </p>#}


     <div class="my-3 p-3 bg-body rounded shadow-sm">
{#            <h6 class="border-bottom pb-2 mb-0">{{ item.title }}</h6>#}
{#             <div class="border-bottom d-flex justify-content-between h-30">#}


              <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">Изменить название модуля</h5>
            </div>
            <div class="card-body pt-0">
                 <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">

                        {% bootstrap_field form.title class="custom-control-input" %}
        {#                    {% include "bootstrap_datepicker_plus/input.html" %}#}
        {#                    <div class="input-group-addon input-group-append">#}
        {#                        <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>#}
        {#                    </div>#}
                        </div>

                    </div>
                    <div class="row center-block">
                        <div class="col-6 text-center">
                            {% bootstrap_button "Сохранить изменения" button_type="submit" button_class="btn-primary btn btn-md w-100 mx-0" %}
                        </div>
                    </div>
                </form>

            </div>


{#             #}
{#             #}
{#                        <h6 class="text-gray-dark ">Название модуля: {{ module.title }}</h6>#}
{#                        <div>#}
{#                            {% if user.id == course.author_id %}#}
{#                            <a href="edit_module/{{ module.id }}/" title="Редактировать модуль" class="btn text-warning"><i class="fa fa-edit"></i></a>#}
{#                            <a href="delete_module/{{ module.id }}/" title="Удалить модуль" class="btn text-danger"><i class="fa fa-trash"></i></a>#}
{#                            {% endif %}#}
{#                        </div>#}

    </div>




    <div class="py-2 border-bottom">

      <p class="pb-3 mb-0 text-center">
        <strong class="d-block text-dark">Уроки ({{ lessons.count }})</strong>

      </p>
            <div class="px-3 p-3">
               {% for lesson in lessons %}

                    <div class="d-flex w-100 p-2 justify-content-between">
                          <div>
                              <h6 class="mb-0"><strong>{{ lesson.title }}</strong></h6>
                                <p class="mb-0 opacity-75">{{ lesson.create }}</p>
                              {% if lesson.is_published %}
                                  <p class="text-success">Опуликован</p>
                              {% else %}
                                  <p class="text-danger">Черновик</p>
                              {% endif %}

                          </div>

                        <div >
                            {% if user.id == course.author_id %}
                                <div class="" style="padding: 1px">
                                    <a href="{% url 'module:edit_lesson_settings' id=course.id l_id=lesson.id %}"
                                       class="btn text-warning" title="Редактировать урок"
                                       class="btn"><i class="fa fa-edit"></i></a>
                                    <a href="delete_module/{{ item.id }}/" title="Удалить модуль"
                                       class="btn text-danger"><i class="fa fa-trash"></i></a>
                                </div>
                            {% else %}
                                <a href="view_lesson/{{ lesson.id }}/" class="btn btn-outline-primary">Просмотреть урок</a>
                            {% endif %}
                        </div>

                    </div>
               {% endfor %}
            </div>
    </div>



             <div class="py-2 border-bottom">
      <p class="pb-3 mb-0 text-center">
        <strong class="d-block text-dark">Задания ({{ tasks.count }})</strong>
      </p>
           <div class="px-3 p-3">
               {% for task in tasks %}

                    <div class="d-flex w-100 p-2 justify-content-between">
                      <div>
                        <h6 class="mb-0">{{ task.title }}</h6>
                        <p class="mb-0 opacity-75">Выполнить задание необходимо до {{ task.time_deadline }}</p>
                      </div>
                        <div>
                            {% if user.id == course.author_id %}
                                    <a href="edit_task/{{ task.id }}/" title="Редактировать задание" class="btn text-warning"><i class="fa fa-edit"></i></a>
                                    <a href="delete_task/{{ task.id }}/" title="Удалить задание" class="btn text-danger"><i class="fa fa-trash"></i></a>
                            {% else %}
                                <a href="view_task/{{ task.id }}/" class="btn btn-outline-primary">просмотреть задание</a>
                            {% endif %}
                        </div>
                    </div>
               {% endfor %}
            </div>
    </div>



{#    <small class="d-block text-end mt-3">#}
{#        {% if user.id == course.author_id %}#}
{#            <a href="{{item.id}}/lesson_create/" class="btn btn-outline-primary">Добавить урок </a>#}
{#            <a href="{% url 'module:create_task' id=course.id m_id=item.id %}" class="btn btn-outline-primary"> Добавить задание </a>#}
{#        {% endif %}#}
{#    </small>#}

             </div>
         </div>









{##}
{#    {% for lesson in lessons %}#}
{##}
{#        <p>{{ lesson.title }}</p>#}
{#        <a href="../../edit_module/{{ module.id }}/edit_lesson/{{ lesson.id }}/">Редактировать урок</a>#}
{##}
{#        <HR/>#}
{#    {% endfor %}#}
</section>
{% endblock %}