{% extends "module/content/base_nav.html" %}

{% block content %}
    {% load crispy_forms_tags %}
{% load django_bootstrap5 %}
    {% bootstrap_css %}
<section class="container">
{#    <p>Название модуля {{ module.title }} </p>#}
{##}
{#    <p>Изменить название модуля: </p>#}


    <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">Изменить название модуля</h5>
            </div>
            <div class="card-body pt-0">
                 <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">

                        {% bootstrap_field form.title class="custom-control-input" %}
        {#                    {% include "bootstrap_datepicker_plus/input.html" %}#}
        {#                    <div class="input-group-addon input-group-append">#}
        {#                        <div class="input-group-text"><i class="glyphicon glyphicon-calendar"></i></div>#}
        {#                    </div>#}
                        </div>

                    </div>
                    <div class="row center-block">
                        <div class="col-6 text-center">
                            {% bootstrap_button "Сохранить изменения" button_type="submit" button_class="btn-primary btn btn-md w-100 mx-0" %}
                        </div>
                    </div>
                </form>

            </div>



    {% for lesson in lessons %}

        <p>{{ lesson.title }}</p>
        <a href="../../edit_module/{{ module.id }}/edit_lesson/{{ lesson.id }}/">Редактировать урок</a>

        <HR/>
    {% endfor %}
</section>
{% endblock %}