{% extends "C:\Users\User\PycharmProjects\online_courses\course\templates\course\base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/list_oi.css'%}" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
 <STYLE>
        /* Всплывающая форма-скрыта по умолчанию */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
        }
 </STYLE>
 <section class="container py-3">

     {% if modules.count > 0 %}
        <ol class="list1b">
            {% for item in modules %}
                <li>
                    <div class="d-flex justify-content-between h-30">
                        <strong class="text-gray-dark ">{{ item.title }}</strong>
                        <div>
                            {% if user.id == course.author_id %}
                            <a href="edit_module/{{ item.id }}/" title="Редактировать модуль" class="btn"><i class="fa fa-edit"></i></a>
                            <a href="delete_module/{{ item.id }}/" title="Удалить модуль" class="btn"><i class="fa fa-trash"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    {% if item.lesson_set.count == 0 %}
                        <p>В этом модуле пока ничего нет :(</p>
                    {% else %}
                        <details open>
                            <summary><h5>Содержимое модуля <small> (Кол-во уроков {{ item.lesson_set.count }})</small></h5> </summary>
                            <div class="container p-3">
                                <ul class="list4b">
                                    {% for lesson in item.lesson_set.all %}
                                        <ol>
                                            <div class="d-flex top-0 h-30">
                                                <div class="" style="padding: 8px">
                                                     <p>{{ lesson.title }} </p>
                                                </div>
                                                {% if user.id == course.author_id %}
                                                <div class="" style="padding: 1px">
                                                    <a href="edit_lesson/{{ lesson.id }}/" title="Редактировать урок" class="btn"><i class="fa fa-edit"></i></a>
                                                </div>
                                                {% else %}
                                                    <a href="view_lesson/{{ lesson.id }}/">Просмотреть урок</a>
                                                {% endif %}

                                            </div>

                                        </ol>
                                    {% endfor %}
                                </ul>
                            </div>
                        </details>
                    {% endif %}

                    {% if user.id == course.author_id %}
                    <p>Добавить</p>
                    <a href="{{item.id}}/lesson_create/"> Урок </a> |
                    <a href="#" > Задание </a>
                    {% endif %}

                </li>
            {% endfor %}
        </ol>
     {% endif %}

    {% if user.id == course.author_id %}
     <button class="btn btn-lg position-center btn-light w-30 mx-0" onclick="openForm()">+ модуль</button>
    {% endif %}

    {#  FORM ADD MODULE #}
    <div class="form-popup" id="myForm">
        <div class="modal modal-sheet position-fixed d-block bg-body py-5" style="--bs-bg-opacity: .5;" tabindex="-1" role="dialog" id="modalSheet">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-6 shadow">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title">Создание курса</h5>

                        <button type="button" class="btn-close" onclick="closeForm()" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-0">

                        <form method="post" action="create_module/" >
                             {% csrf_token %}
                             {% bootstrap_form form layout='gorizontal' %}
                             {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-primary btn btn-lg w-100 mx-0" %}
                         </form>

                    </div>
                    <div class="modal-footer flex-column border-top-0">
                        <button type="button" class="btn btn-lg btn-light w-100 mx-0" onclick="closeForm()" data-bs-dismiss="modal">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{##}
{#    FORM DELETE MODULE#}
{##}
{#    <div class="form-popup" id="myFormDeleteModule">#}
{#        <div class="modal modal-alert position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalChoice">#}
{#            <div class="modal-dialog" role="document">#}
{#                <div class="modal-content rounded-4 shadow">#}
{#                    <div class="modal-body p-4 text-center">#}
{#                        <h5 class="mb-0">Удаление модуля навсегда</h5>#}
{#                        <p class="mb-0">Вы можете навсегда удалить модуль.#}
{#                                    <br>Восстановить его будет нельзя</p>#}
{#                    </div>#}
{##}
{#                    <div class="modal-footer flex-nowrap p-0">#}
{##}
{#                        <a id='index' type="button" href="delete_module/{{ i_id }}" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-right"><strong>Удалить навсегда</strong></a>#}
{##}
{#                            <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0" onclick="closeFormDeleteModule()" data-bs-dismiss="modal">Отмена</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
    </script>


{% endblock %}