{% extends "module/content/base_nav.html" %}
{% load static %}

{% load crispy_forms_tags %}
{% load django_bootstrap5 %}

<link rel="stylesheet" href="{% static 'css/style_index.css'%}" type="text/css">


{% block content %}

    {{ lesson.title }}
    {{ lesson.description }}

    {% if user.id != course.author_id %}
        {% if progress_is.is_pass %}
            <a id="button_progress" href="{% url 'module:progress' lesson.id %}">Пройдено</a>
        {% else %}
            <a id="button_progress" href="{% url 'module:progress' lesson.id %}">Отметить как пройденное</a>
        {% endif %}
    {% endif %}

{% endblock %}