{% extends "C:\Users\User\PycharmProjects\online_courses\course\templates\course\base.html" %}
{% load static %}
{% load mathfilters %}
{% load django_bootstrap5 %}
{% bootstrap_css %}

<link rel="stylesheet" href="{% static 'css/list_oi.css'%}" type="text/css">
{% block content %}
    <div class="container py-5">
        <div class="table-responsive bd-example">
{#        table-sm#}
            <table class="table table-bordered table-hover" >
                <tbody>
                    <tr>
                        <td>
                            Имя пользователя
                        </td>
                        {% for item in modules %}
                            {% for i in item.task_set.all %}
                                <td>{{ i.title }} </td>
                            {% endfor %}
                        {% endfor %}
                        <td>
                            Итог
                        </td>
                    </tr >
                    {% for student in students %}
                    <tr class="p-5">
                        <td>
                            {{ student.username }}
                        </td>
                        {% for m in student.mark_set.all %}
                            {% if m.mark < sr_mark %}
                                <td class="bg-danger text-center">
                                    {{ m.mark }}
                                </td>
                            {% else %}
                                <td class="bg-success text-center">
                                    {{ m.mark }}
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if student.mark_set.all.count != count_all %}
                            <td colspan="{{ count_all|sub:student.mark_set.all.count }}"> </td>
                        {% endif %}
                        <td class="text-center"> <strong>
                            {{ student.ratingscore.mark }}</strong>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}