{% extends "C:\Users\User\PycharmProjects\online_courses\course\templates\course\base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}


{% block content %}
    <section class="container p-3">
         <h5 class="leade text-sm-start font-italic mb-3">Добавить объявление ученикам</h5>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <div class="row">
                <div class="col-4">
                     <button button_type="submit" class="btn btn-primary text-center w-100">Сохранить</button>
                </div>
            </div>
        </form>
    </section>
{% endblock %}