{% extends "C:\Users\User\PycharmProjects\online_courses\course\templates\course\base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}

<link rel="stylesheet" href="{% static 'css/list_oi.css'%}" type="text/css">
{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
{#        {% bootstrap_field form.description  class="custom-control-input" %}#}
        <button button_type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}