{% extends "C:\Users\User\PycharmProjects\online_courses\course\templates\course\base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}

<link rel="stylesheet" href="{% static 'css/list_oi.css'%}" type="text/css">
{% block content %}
    <section class="container py-3">
    <h5>Выберите задание для проверки</h5>
    {% for item in list_module %}
        <hr>
        <h6>{{ item.title }}</h6>

        <div class="row">
        {% for task in item.task_set.all %}
            <div class="col-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ task.title }}</h5>
                  <p class="card-text">{{ task.description }}</p>
                  <p class="card-text"><small class="text-muted">Задание открыто до {{ task.time_deadline }}</small></p>
                     <a href="{{ task.id}}/task/" class="btn btn-outline-primary">Просмотр всех ответов по этому заданию</a>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    </section>

{% endblock %}