{% extends "C:\Users\User\PycharmProjects\online_courses\course\templates\course\base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}

<link rel="stylesheet" href="{% static 'css/list_oi.css'%}" type="text/css">
{% block content %}

    <section class="container py-3">
        <div class="bd-example">
            <nav>
                <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-mark-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-mark" type="button" role="tab" aria-controls="nav-mark"
                            aria-selected="true">Ждут проверки {{ unverified_answers.count }}</button>
                    <button class="nav-link" id="nav-progress-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-progress" type="button" role="tab" aria-controls="nav-progress"
                            aria-selected="false">Проверенные {{ verified_answers.count }}</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-mark" role="tabpanel" aria-labelledby="nav-mark-tab">
                     <table class="table table-hover" id="table-id">
                    <thead>
                        <th> Имя пользователя </th>
                        <th> e-mail </th>
                        <th> Дата отправки задания </th>
{#                        <th> Дата проверки преподавателем </th>#}
{#                        <th> Оценка </th>#}
                    </thead>
                    {% for item in unverified_answers %}
                    <tr>
                        <td> {{ item.student.username }} </td>
                        <td> {{ item.student.email }} </td>
                        <td> {{ item.time_create }} </td>
{#                        <td> {{ item.mark.time_create }} </td>#}
{#                        <td> {{ item.mark.mark }} </td>#}

                        <td>
                            <a id="myBtn" href="../../../estimate/{{ item.id }}/"
                                    class="btn btn-sm position-center btn-outline-secondary btn-light w-30 mx-0"
                                    >
                                Проверить и оценить</a>

                        </td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
                <div class="tab-pane fade" id="nav-progress" role="tabpanel" aria-labelledby="nav-progress-tab">

                    <table class="table table-hover" id="table-id">
                    <thead>
                        <th> Имя пользователя </th>
                        <th> e-mail </th>
                        <th> Дата отправки задания </th>
                        <th> Дата проверки преподавателем </th>
                        <th> Оценка </th>
                    </thead>
                    {% for item in verified_answers %}
                    <tr>
                        <td> {{ item.student.username }} </td>
                        <td> {{ item.student.email }} </td>
                        <td> {{ item.time_create }} </td>
                        <td> {{ item.mark.time_create }} </td>
                        <td> {{ item.mark.mark }} </td>

                        <td>
                            <a id="myBtn" href="{% url 'module:estimate' id=course.id a_id=item.id %}"
                                    class="btn btn-sm position-center btn-outline-secondary btn-light w-30 mx-0"
                                    >
                                Детали</a>

                        </td>
                    </tr>
                    {% endfor %}
        </table>
                </div>
            </div>
        </div>
    </section>
{##}
{#    <p>Выберите ответ для проверки</p>#}
{##}
{#    {% for item in answers %}#}
{##}
{#        <p>{{ item.student.email }}</p>#}
{#        <p>{{ item.time_create }}</p>#}
{#        <p>{{ item.mark.mark }}</p>#}
{#        <a href="../../../estimate/{{ item.id }}/">Проверить и оценить</a>#}
{#        <hr>#}
{#    {% endfor %}#}

{% endblock %}