{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_index.css'%}" type="text/css">

    <script src="{% static 'js/sidebars.js'%}"></script>
    <link href="{% static 'css/sidebars.css' %}" rel="stylesheet">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}

</head>
<body>
    <main class="container-fluid g-0 vh-100" style="height: 100px;">
        <div class="row g-0 h-100">
            <div class="col-md-2 bg-dark " >
                <div class=" sticky-top d-flex flex-column flex-shrink-1 p-3  w-100 text-white bg-light">
                    <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                      <svg class="bi me-2" width="30" height="24"></svg>
                      <span class="fs-5 fw-semibold">НАЗВАНИЕ</span>
                    </a>
                    <ul class="list-unstyled ps-0">

                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                          Настройки курса
                            </button>
                            <div class="collapse show" id="home-collapse">
                              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Основное настройки</a></li>
                                <li><a href="#" class="link-dark rounded">Расширенные настройки</a></li>
                                <li><a href="#" class="link-dark rounded">Чек-лист</a></li>
                              </ul>
                            </div>
                        </li>

                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                              Обучение
                            </button>
                            <div class="collapse" id="orders-collapse">
                              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Объявления</a></li>
                                <li><a href="#" class="link-dark rounded">Модули</a></li>
                              </ul>
                            </div>
                        </li>

                        <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                              Общение с учащимися
                            </button>
                            <div class="collapse" id="dashboard-collapse">
                              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Рассылка</a></li>
                                <li><a href="#" class="link-dark rounded">Комментарии</a></li>
                              </ul>
                            </div>
                        </li>



                      <li class="border-top my-3"></li>
                      <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                          Аналитика
                        </button>
                        <div class="collapse" id="account-collapse">
                          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">New...</a></li>
                            <li><a href="#" class="link-dark rounded">Profile</a></li>
                            <li><a href="#" class="link-dark rounded">Settings</a></li>
                            <li><a href="#" class="link-dark rounded">Sign out</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>

                </div>
            </div>


            <div class="col-md-10 gx-4">

                    {% include 'C:\Users\User\PycharmProjects\online_courses\templates\header.html' with item_id=item_id %}

                    {% block content %}

                    {% endblock %}

            </div>
        </div>
    </main>




</body>
</html>