{% extends "C:\Users\User\PycharmProjects\online_courses\templates\header.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_index.css'%}" type="text/css">

    <script src="{% static 'js/sidebars.js'%}"></script>
    <link href="{% static 'css/sidebars.css' %}" rel="stylesheet">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}

</head>
<body>
{% block content1 %}

    <style>

.scrollbar-dusty-grass::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-dusty-grass::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #79bffc 0%, #ffe91e 100%);
    background-image: linear-gradient(120deg, #79d3fc 0%, #fff758 100%);
}

.square::-webkit-scrollbar-track {
    border-radius: 0 !important;
}

.square::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
}

.thin::-webkit-scrollbar {
    width: 6px;
}

.example-1 {
    {#position: sticky;#}
    overflow-y: scroll;
    height: 90vh;
}
    </style>


{#        <div class="container px-lg-5">#}
    <main class="container-fluid px-lg-3 bg-light">
        <div class="row g-0">
            <div class="col-md-2" >

                <div class="example-1 sticky-top bg-light square scrollbar-dusty-grass square thin">
                <div class="card-body">


                <div class="fixed-top sticky-top d-flex flex-column flex-shrink-0 w-100 bg-light">
                    <div class="text-center">

                        {% if course.settings.image %}
                                <img src="{{ course.settings.image.url }}" style="height: 150px; width: 150px;" class="img img-responsive" alt="" >
                            {% else %}
							    <img src="{% static 'img/blog_1.jpg' %}" style="height: 150px; width: 150px;" class="img img-responsive" alt="">
                            {% endif %}
                    </div>
                    <p class="text-sm-center">{{ course.title }}</p>
                    <ul class="list-unstyled ps-0">
                    <li class="border-top"></li>
                    </ul>
                    {% if user.id == course.author_id %}

                        <ul class="list-unstyled ps-0">

                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                              Настройки курса
                                </button>
                                <div class="collapse show" id="home-collapse">
                                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="{% url 'edit' course.id %}" class="link-dark rounded">Основное настройки</a></li>
                                    <li><a href="{% url 'setting' course.id %}" class="link-dark rounded">Расширенные настройки</a></li>
                                      <li><a href="{% url 'enrollments' course.id %}" class="link-dark rounded">Набор на курс</a></li>

                                  </ul>
                                </div>
                            </li>

                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                                  Обучение
                                </button>
                                <div class="collapse show" id="orders-collapse">
                                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                    <li><a href="{% url 'module:list' course.id %}" class="link-dark rounded">Содержание</a></li>
                                      <li><a href="{% url 'module:list_answers' course.id %}" class="link-dark rounded">Задания</a></li>
                                  </ul>
                                </div>
                            </li>

                            <li class="mb-1">
                                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                                  Общение
                                </button>
                                <div class="collapse show" id="dashboard-collapse">
                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                        <li><a href="{% url 'announcement_list' course.id %}" class="link-dark rounded">Объявления</a></li>
                                        <li><a href="{% url 'dialogs' course.id %}" class="link-dark rounded">Чат</a></li>
{#                                        <li><a href="#" class="link-dark rounded">Рассылка</a></li>#}
                                        <li><a href="{% url 'comments_list' course.id %}" class="link-dark rounded">Комментарии</a></li>
                                        <li class="mb-1">
                                            <a href="{% url 'notifications_list' course.id %}" class="link-dark rounded">Уведомления</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                          <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                              Аналитика
                            </button>
                            <div class="collapse show" id="account-collapse">
                              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                  <li><a href="{% url 'check_list' course.id %}" class="link-dark rounded">Чек-лист</a></li>
                                  <li><a href="{% url 'students_list' course.id %}" class="link-dark rounded">Учащиеся</a></li>
                                  <li class="mb-1"><a href="{% url 'grades_list' course.id %}" class="link-dark rounded">Табель</a></li>


                              </ul>
                            </div>
                          </li>
                        </ul>

                    {% elif user.id != course.author_id %}

                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                            <li class="mb-1">
                                <a href="{% url 'info' course.id %}" class="link-dark rounded">Описание</a>
                            </li>
                            <li class="mb-1">
                                <a href="{% url 'module:list' course.id %}" class="link-dark rounded">Содержание</a>
                            </li>

                            <li class="mb-1">
                                <a href="{% url 'announcement_list' course.id %}" class="link-dark rounded">Новости</a>
                            </li>

                            <li class="mb-1">
                                <a href="{% url 'notifications_list' course.id %}" class="link-dark rounded">Уведомления</a>
                            </li>

                            <li class="mb-1">
                                <a href="{% url 'dialogs' course.id %}" class="link-dark rounded">Чат</a>
{#                                                                <a href="{% url 'chat' course.id %}" class="link-dark rounded">Чат</a>#}

                            </li>

                            <li class="mb-1">
                                <a href="{% url 'comments_list' course.id %}" class="link-dark rounded">Комментарии</a>
                            </li>

                            <li class="mb-1">
                                <a href="{% url 'module:student_progress_list' id=course.id s_id=user.id %}" class="link-dark rounded">Успеваемость</a>
                            </li>

                         </ul>

                    {% endif %}
                </div>

                </div>
                </div>
            </div>


            <div class="col-lg-10 gx-4">
                    <div class="container">
                    {#{% include 'C:\Users\User\PycharmProjects\online_courses\templates\header.html' with item_id=item_id %}#}

                    {% block content %}

                    {% endblock %}

            </div>
        </div>
        </div>
    </main>

{% endblock %}


</body>
</html>