{% extends "C:\Users\User\PycharmProjects\online_courses\course\templates\course\base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}



{% block content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">





    <div class="container py-3">
        <p>Готовность курса</p>
        <div class="bd-example">
            <table class="table table-striped">
                <tbody>
{#                1#}
                    <tr>
                        <td>
                            <div>
                                <p><strong>Краткое описание длиннее 100 символов (сейчас {{ settings }} символов).</strong><br>
                                    Попробуйте ёмко выразить, о чём ваш курс. Это описание учащиеся увидят в поиске и на промостранице сразу после названия курса.</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                {% if desc_is %}
                                    <h5><i class="bi bi-check-lg text-success m-lg-5"></i></h5>
                                {% else %}
                                    <h5><i class="bi bi-x-lg text-danger m-lg-5"></i></h5>

                                {% endif %}

                            </div>
                        </td>
                    </tr>
{#                    2#}
                    <tr>
                        <td>
                            <div>
                                <p><strong>Набор на курс
                                    {% if is_enrollment %}
                                        (сейчас создан {{ enrollment_course.time_create }} - {{ enrollment_course.time_end }})
                                    {% else %}
                                        (сейчас не создан)
                                    {% endif %}
                                    </strong><br>
                                    Должен быть для поступления на курс
                                </p>
                            </div>
                        </td>
                        <td>
                            <div>
                                {% if is_enrollment %}
                                    <h5><i class="bi bi-check-lg text-success m-lg-5"></i></h5>
                                {% else %}
                                    <h5><i class="bi bi-x-lg text-danger m-lg-5"></i></h5>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
{#                    3#}
                    <tr>
                        <td>
                            <div>
                                <p><strong> Объявления
                                    {% if is_announcement %}
                                        (сейчас {{ announcement }})
                                    {% else %}
                                        (сейчас не создан)
                                    {% endif %}
                                    </strong><br>
                                    Хотя бы одно объявление
                                </p>
                            </div>
                        </td>
                        <td>
                            <div>
                                {% if is_announcement %}
                                    <h5><i class="bi bi-check-lg text-success m-lg-5"></i></h5>
                                {% else %}
                                    <h5><i class="bi bi-x-lg text-danger m-lg-5"></i></h5>
                                {% endif %}
                            </div>
                        </td>
                    </tr>


{#                    4#}
                        <tr>
                        <td>
                            <div>
                                <p><strong> Модули
                                    {% if is_module %}
                                        (сейчас {{ modules.count }})
                                    {% else %}
                                        (сейчас не создан)
                                    {% endif %}
                                    </strong><br>
                                    Хотябы два модуля
                                </p>
                            </div>
                        </td>
                        <td>
                            <div>
                                {% if is_module %}
                                    <h5><i class="bi bi-check-lg text-success m-lg-5"></i></h5>
                                {% else %}
                                    <h5><i class="bi bi-x-lg text-danger m-lg-5"></i></h5>
                                {% endif %}
                            </div>
                        </td>
                    </tr>

{#                    5#}
                    <tr>
                        <td>
                            <div>
                                <p><strong> Уроки
                                    {% if is_lesson %}
                                        (сейчас создан {{ lessons.count }})
                                    {% else %}
                                        (сейчас не создан)
                                    {% endif %}
                                    </strong><br>
                                    Хотябы 10 уроков
                                </p>
                            </div>
                        </td>
                        <td>
                            <div>
                                {% if is_lesson %}
                                    <h5><i class="bi bi-check-lg text-success m-lg-5"></i></h5>
                                {% else %}
                                    <h5><i class="bi bi-x-lg text-danger m-lg-5"></i></h5>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
{#                    6#}
                    <tr>
                        <td>
                            <div>
                                <p><strong> Открытые уроки
                                    {% if is_lesson_open %}
                                        (сейчас {{ lessons_open.count }})
                                    {% else %}
                                        (сейчас не создан)
                                    {% endif %}
                                    </strong><br>
                                    Хотябы 5 открытых уроков
                                </p>
                            </div>
                        </td>
                        <td>
                            <div>
                                {% if is_lesson_open %}
                                    <h5><i class="bi bi-check-lg text-success m-lg-5"></i></h5>
                                {% else %}
                                    <h5><i class="bi bi-x-lg text-danger m-lg-5"></i></h5>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
{#                    7#}
                    <tr>
                        <td>
                            <div>
                                <p><strong> Задания
                                    {% if is_task %}
                                        (сейчас создан {{ tasks.count }})
                                    {% else %}
                                        (сейчас не создан)
                                    {% endif %}
                                    </strong><br>
                                    Хотябы 5 заданий
                                </p>
                            </div>
                        </td>
                        <td>
                            <div>
                                {% if is_task %}
                                    <h5><i class="bi bi-check-lg text-success m-lg-5"></i></h5>
                                {% else %}
                                    <h5><i class="bi bi-x-lg text-danger m-lg-5"></i></h5>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
{#                    8#}
                    <tr>
                        <td>
                            <div>
                                <p><strong> Нет пустых модулей
                                    {% if not is_null_modules %}
                                        (кол-во пустых модулей {{ null_modules.count }})
                                    {% else %}
                                        (пустых модулей нет)
                                    {% endif %}
                                    </strong><br>
                                    ...
                                </p>
                            </div>
                        </td>
                        <td>
                            <div>
                                {% if is_null_modules %}
                                    <h5><i class="bi bi-check-lg text-success m-lg-5"></i></h5>
                                {% else %}
                                    <h5><i class="bi bi-x-lg text-danger m-lg-5"></i></h5>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
{#                    9#}
                    <tr>
                        <td>
                            <div>
                                <p><strong> нет уроков без блоков
                                    {% if not is_null_lesson %}
                                        (уроки без блоков {{ null_lesson.count }})
                                    {% else %}
                                        (все уроки содержат блоки)
                                    {% endif %}
                                    </strong><br>
                                    ...
                                </p>
                            </div>
                        </td>
                        <td>
                            <div>
                                {% if is_null_lesson %}
                                    <h5><i class="bi bi-check-lg text-success m-lg-5"></i></h5>
                                {% else %}
                                    <h5><i class="bi bi-x-lg text-danger m-lg-5"></i></h5>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
{#                    10#}
                    <tr>
                        <td>
                            <div>
                                <p><strong> Нет файлов в заданиях
                                    {% if not is_task_file %}
                                        (кол-во заданий без файлов {{ tasks_file.count }})
                                    {% else %}
                                        (все задания содержат файлы)
                                    {% endif %}
                                    </strong><br>
                                    все задания должны содержать файлы
                                </p>
                            </div>
                        </td>
                        <td>
                            <div>
                                {% if is_task_file %}
                                    <h5><i class="bi bi-check-lg text-success m-lg-5"></i></h5>
                                {% else %}
                                    <h5><i class="bi bi-x-lg text-danger m-lg-5"></i></h5>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        <p>Курс готов на {{ progress }}%</p>
        </div>
    </div>
{% endblock %}