{% extends "C:\Users\User\PycharmProjects\online_courses\templates\header.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style_index.css'%}" type="text/css">


{% block content1 %}

    <style>
    a,
a:hover,
a:focus {
    color: inherit;
}

.profile-card-4 {
    max-width: 450px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card-4 img {
    height: 200px;
    transition: all 0.25s linear;
}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
    background-color: #FFF;
}

.profile-card-4 .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -70px;
    color: #1c1c1c;
    font-size: 17px;
}

.profile-card-4 .profile-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.profile-card-4 .profile-description {
    color: #777;
    font-size: 12px;
    padding: 10px;
}

.profile-card-4 .profile-overview {
    padding: 15px 0px;
}

.profile-card-4 .profile-overview p {
    font-size: 10px;
    font-weight: 600;
    color: #777;
}

.profile-card-4 .profile-overview h4 {
    color: #273751;
    font-weight: bold;
}

.profile-card-4 .profile-content::before {
    content: "";
    position: absolute;
    height: 20px;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 0;
    transform: skewY(3deg);
}

.profile-card-4:hover img {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
}
    </style>

    <div class="container px-lg-5">
        <div class="row px-3">
                {% for course in courses %}
                    <div class="col-md-4 ">
                        <hr>
                        <div class="profile-card-4 text-center">
                            {% if course.settings.image %}
                                <img src="{{ course.settings.image.url }}" style="height: 200px; width: 330px;" class="img img-responsive" alt="" >
                            {% else %}
							    <img src="{% static 'img/blog_1.jpg' %}" style="height: 200px; width: 330px;" class="img img-responsive" alt="">
                            {% endif %}

                            <div class="profile-content">
                                <div class="profile-name">
                                </div>
                                <div class="profile-description">
                                    <h6>{{ course.title }}</h6>
                                    <p style="font-size: 12px">{{ course.settings.learning_format }}</p>
                                    <p style="font-size: 14px"> {{ course.description }}</p>
                                   </div>
                                <div class="row">
                                    <div class="col-4">
                                        <a href="{%  url  'view_course' course.id %}" class="btn btn-outline-primary">Просмотр</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}



