{% extends "C:\Users\User\PycharmProjects\online_courses\templates\header.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style_index.css'%}" type="text/css">


{% block content1 %}





    <STYLE>
        /* Всплывающая форма-скрыта по умолчанию */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
        }
    </STYLE>



{% if courses.count > 0 %}
    <div class="section wb">
        <div class="container">
            <div class="row">
                {% for course in courses %}
                <div class="col-lg-4 col-md-6 col-12">


                        <div class="blog-item">

                        <div class="image-blog">
                            {% if course.settings.image %}
                            <img src="{{ course.settings.image.url }}"  alt="" class="img-fluid">
                            {% else %}
							<img src="{% static 'img/blog_1.jpg' %}"  alt="" class="img-fluid">
                            {% endif %}
						</div>

                        <div class="meta-info-blog">
                            <span> {{ course.settings.learning_format }} </span>
                        </div>

						<div class="blog-title">
							<h2>{{ course.title }}</h2>
						</div>

						<div class="blog-desc">
							<p> {{ course.description }} </p>
						</div>

                        <table>
                            <tr style="width: 100%;">
                                <td style="width: 40%;">
                                    <div class="blog-button">
                                        <a href="edit_course/{{course.id}}" class="button7">Управление</a>
						            </div>
                                </td>
                                <td style="width: 60%;">
                                    <div class="blog-button">
                                        <a href="edit_course/{{course.id}}" class="button7">Просмотр</a>
						            </div>
                                </td>
                            </tr>
                        </table>

                            <div class="blog-button">
                                <a href="delete/{{course.id}}" class="button7">Удалить</a>
						    </div>
					    </div>
                    <p> </p>
                </div><!-- end col -->
                   {% endfor %}
            </div>
        </div>
    </div>
{% endif %}


{#        <div id="myModal" class="modal">#}

{#          <!-- Modal content -->#}
{#          <div class="modal-content">#}
{#        #}
{#            <span class="close">&times;</span>#}
{#            <p>Some text in the Modal..</p>#}
{#        #}
             <div class="form-popup" id="myModal">
         <div class="modal modal-sheet position-fixed d-block bg-body py-5" style="--bs-bg-opacity: .5;" tabindex="-1" role="dialog" id="modalSheet">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-6 shadow">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title">Создание курса</h5>

                        <button type="button" class="btn-close" onclick="closeForm()" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-0">

                        <form method="post" action="create_course/">
                             {% csrf_token %}
                             {% bootstrap_form form layout='gorizontal' %}
                             {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-primary btn btn-lg w-100 mx-0" %}
                         </form>

                    </div>
                    <div class="modal-footer flex-column border-top-0">
                        <button type="button" class="btn btn-lg btn-light w-100 mx-0" onclick="closeForm()" data-bs-dismiss="modal">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
          </div>

        </div>

<button id="myBtn" class="btn btn-lg position-center btn-light w-30 mx-0">Создать курс</button>

{#    <button class="btn btn-lg position-center btn-light w-30 mx-0" onclick="openForm()">Создать курс</button>#}



            <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }

        function closeForm() {
          document.getElementById("myModal").style.display = "none";
        }
        </script>
{% endblock %}



