<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}

    <STYLE>
        /* Всплывающая форма-скрыта по умолчанию */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
        }
    </STYLE>

</head>
<body>

    <div class="form-popup" id="myForm">
        <div class="modal modal-sheet position-fixed d-block bg-body py-5" style="--bs-bg-opacity: .5;" tabindex="-1" role="dialog" id="modalSheet">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-6 shadow">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title">Создание курса</h5>

                        <button type="button" class="btn-close" onclick="closeForm()" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-0">

                        <form method="post" action="create_course/">
                             {% csrf_token %}
                             {% bootstrap_form form layout='gorizontal' %}
                             {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-primary btn btn-lg w-100 mx-0" %}
                         </form>

                    </div>
                    <div class="modal-footer flex-column border-top-0">
                        <button type="button" class="btn btn-lg btn-light w-100 mx-0" onclick="closeForm()" data-bs-dismiss="modal">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if courses.count > 0 %}
           <h2>Список курсов</h2>
    <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">МОИ КУРСЫ</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

            {% for item in courses %}

        <div class="feature col">
        <div class="feature-icon bg-primary bg-gradient">
          <svg class="bi" width="1em" height="1em"></svg>
        </div>
        <h2>{{ item.title }}</h2>
            <p>{{ item.description }}</p>
            <a href="#" class="icon-link">
          Call to action
          <svg class="bi" width="1em" height="1em"></svg>
        </a>
      </div>

     {% endfor %}

    </div>
  </div>
    {% endif %}


    <button class="btn btn-lg position-center btn-light w-30 mx-0" onclick="openForm()">Создать курс</button>

    <script>
        function openForm() {
          document.getElementById("myForm").style.display = "block";
        }
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }
    </script>
</body>
</html>


