{% extends "C:\Users\User\PycharmProjects\online_courses\course\templates\course\base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}


{% block content %}
{#    <script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>#}
{#    <script data-require="chart.js@0.2.0" data-semver="0.2.0" src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.js"></script>#}
{#    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>#}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.2/tablesort.min.js">

        </script>

    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"
  ></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

    <style id="compiled-css" type="text/css">
        #js-legend ul {
            list-style: none;
        }
        #js-legend ul li {
          display: block;
          padding-left: 30px;
          position: relative;
          margin-bottom: 4px;
          border-radius: 5px;
          padding: 2px 8px 2px 28px;
          font-size: 14px;
          cursor: default;
          -webkit-transition: background-color 200ms ease-in-out;
          -moz-transition: background-color 200ms ease-in-out;
          -o-transition: background-color 200ms ease-in-out;
          transition: background-color 200ms ease-in-out;
        }
        #js-legend li span {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 20px;
          height: 100%;
          border-radius: 5px;
        }
    </style>

    <STYLE>
        /* Всплывающая форма-скрыта по умолчанию */
        .form-popup1 {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
        }
    </STYLE>


    <div class="container p-3 py-5 bd-example">
        <h5 class="box-title">Список студентов</h5>

        <table class="table table-hover" id="table-id">
            <thead
{#                    class="table-active"#}
            >
                <th> Имя пользователя </th>
{#                <th> ФИО </th>#}
                <th> e-mail </th>
                <th> Дата последнего входа </th>
                <th> Пройденные уроки </th>
                <th> Проверенные задания </th>
                <th> Оценка </th>
                <th> Уведомление </th>
            </thead>
{#            <form method="post" action="{% url 'create_notification' %}">#}
{#                {% csrf_token %}#}
                    {% for student, progres, answer in list_item %}
                    <tr>
                        <td>
                            {% if student in students_done_course %}
                                <a class="text-success text-decoration-none" href="{% url 'module:student_progress_list' s_id=student.id id=course.id %}" >{{ student.username }} </a></td>
                            {% else %}
                               <a class="text-danger text-decoration-none" href="{% url 'module:student_progress_list' s_id=student.id id=course.id %}" >{{ student.username }} </a></td>
                            {% endif %}
                        <td> {{ student.email }} </td>
                        <td> {{ student.last_login }} </td>
                        <td> {{ progres }} / {{ count_lessons }} </td>
                        <td>{{ answer }} / {{ count_task }}</td>
                        <td> {{ student.ratingscore.mark }} </td>
                        <td>
                            <button id="myBtn"
                                    class="btn btn-sm position-center btn-outline-secondary btn-light w-30 mx-0" onclick="openForm('{{ student.username }}', '{{ student.id }}')">
                                Отправить</button>

                        </td>
                    </tr>
                    {% endfor %}
        </table>

        <section class="p-3">
            <div class="row">
                <div class="col-9">
                    <div style="width:100%">
                        <h5 class="box-title">Действия слушателей за последнюю неделю</h5>
                        <div>
                            <canvas id="canvas" height="250" width="1050"></canvas>
                        </div>
                          <input type='checkbox' value='0'/> Весь прогресс
                          <br><input type='checkbox'value='1'/> Отправленные задания
                          <br><input type='checkbox' value='2'/> Пройденные уроки

                    </div>

                </div>
                <div class="col-3">
                     <div class="box box-danger">
                          <div class="box-header with-border">
                            <h5 class="box-title">Завершенность курса</h5>
                            <div class="box-tools pull-right">
                              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                              <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                          </div>
                          <div class="box-body">
                            <canvas id="pieChart" style="width: 100%; height: auto;"></canvas>
                            <div id="js-legend" class="chart-legend"></div>
                          </div>
                          <!-- /.box-body -->
                        </div>
                </div>
            </div>


        </section>

{#        <div style="width:100%">#}
{#            <h5>Действия слушателей за последнюю неделю</h5>#}
{#			<div>#}
{#				<canvas id="canvas" height="250" width="1050"></canvas>#}
{#			</div>#}
{#              Весь прогресс <input type='checkbox' value='0'/>#}
{#			  Отправленные задания <input type='checkbox'value='1'/>#}
{#			  Пройденные уроки <input type='checkbox' value='2'/>#}
{##}
{#		</div>#}
{##}
{#        <div class="box box-danger">#}
{#          <div class="box-header with-border">#}
{#            <h3 class="box-title">Завершенность курса</h3>#}
{#            <div class="box-tools pull-right">#}
{#              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>#}
{#              <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>#}
{#            </div>#}
{#          </div>#}
{#          <div class="box-body">#}
{#            <canvas id="pieChart" style="width: 100%; height: auto;"></canvas>#}
{#            <div id="js-legend" class="chart-legend"></div>#}
{#          </div>#}
{#          <!-- /.box-body -->#}
{#        </div>#}


        <div class="form-popup1" id="myForm">
            <div class="modal modal-sheet position-fixed d-block bg-body py-5" style="--bs-bg-opacity: .5;" tabindex="-1" role="dialog" id="modalSheet">
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-6 shadow">
                        <div class="modal-header border-bottom-0">
                            <h5 class="modal-title">Создание уведомления</h5>
                            <button type="button" class="btn-close" onclick="closeForm()" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body py-0">
                            <form method="post" >
                                {% csrf_token %}
                                <input type="hidden" name="student_id" id="contactparent" value="">

                                <div class="form-group editContent">
                                    <textarea class="form-control border" rows="5" name="content"
                                      id="contactcomment" required="">
                                    </textarea>
                                </div>
                                <p></p>
{#                                {% bootstrap_form form layout='gorizontal' %}#}
                                {% bootstrap_button "Отправить" button_type="submit" button_class="btn-primary btn btn-lg w-100 mx-0" %}
                            </form>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     </div>

    <script>




    var randomScalingFactor = function(){
        return Math.round(Math.random()*256)
    };

    var chartData = [
      {
					label: "0",
					fillColor : "rgba(151,187,205,0.2)",
					strokeColor : "rgba(151,187,205,1)",
					pointColor : "rgba(151,187,205,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(151,187,205,1)",
					data : {{ data_pie_all|safe }}
				},
            {
					label: "1",
					fillColor : "rgba(200,187,205,0.2)",
					strokeColor : "rgba(200,187,205,1)",
					pointColor : "rgba(200,187,205,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(151,187,205,1)",
					data : {{ data_pie_task|safe }}
				},
        {
					label: "Уроки",
					fillColor : "rgba(151,187,105,0.2)",
					strokeColor : "rgba(151,187,105,1)",
					pointColor : "rgba(151,187,105,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(151,187,205,1)",
					data : {{ data_pie_lesson|safe }}
				},
      ]


    var subject_list={{ date_pie|safe }};

    var lineChartData = {
			labels : {{ date_pie|safe }},
			datasets : [
				{
					label: "Hourly dataset",
					fillColor : "rgba(200,187,205,0.2)",
					strokeColor : "rgba(200,187,205,1)",
					pointColor : "rgba(200,187,205,1)",
					pointStrokeColor : "#fff",
					pointHighlightFill : "#fff",
					pointHighlightStroke : "rgba(151,187,205,1)",
					data : {{ data_pie_all|safe }}
				}
			]

		};

    window.onload = function(){
        var ctx = document.getElementById("canvas").getContext("2d");
		window.myLine = new Chart(ctx);
		myLine.Line(lineChartData, {
			responsive: true
		});
    };

    	$(document).ready(function(){
	  $('input[type=checkbox]').click(function(){
	    console.log($(this).val())
	    lineChartData.datasets = [];
	    $('input:checked').each(function(){
	      lineChartData.datasets.push(chartData[$(this).val()]);
	    });
	    myLine.Line(lineChartData, {
			  responsive: true
		  });
	  })
	});


        function openForm(username, student_id) {
            document.getElementById("contactparent").value = student_id;
            document.getElementById("contactcomment").innerText = `${username }, `;
          document.getElementById("myForm").style.display = "block";
        }
        function closeForm() {
          document.getElementById("myForm").style.display = "none";
        }


        new Tablesort(document.getElementById('table-id'));

    </script>


    <script type='text/javascript'>
    $(function() {
        var pieChartCanvas = document.getElementById("pieChart").getContext("2d");
      var pieChart = new Chart(pieChartCanvas);
      var PieData = [{
        value: {{ data_done|safe }},
        color: "#93f17c",
        highlight: "#82e75c",
        label: "Завершили курс",
        labelColor: 'white',
        labelFontSize: '16'
      }, {
        value: {{ data_pass|safe }},
        color: "#e76959",
        highlight: "#dd3131",
        label: 'В процессе',
        labelColor: 'white',
        labelFontSize: '16'
      }];
      var pieOptions = {
        segmentShowStroke: true,
        segmentStrokeColor: "#fff",
        segmentStrokeWidth: 2,
        percentageInnerCutout: 50, // This is 0 for Pie charts
        animationSteps: 100,
        animationEasing: "easeOutBounce",
        animateRotate: true,
        animateScale: false,
        responsive: true,
        maintainAspectRatio: true,
        legendTemplate: '<ul>' + '<% for (var i=0; i<segments.length; i++) { %>' + '<li>' + '<span style=\"background-color:<%=segments[i].fillColor%>\"></span>' + '<% if (segments[i].label) { %><%= segments[i].label %><% } %>' + '</li>' + '<% } %>' + '</ul>'
      };
      var myChart = pieChart.Doughnut(PieData, pieOptions);
      document.getElementById("js-legend").innerHTML = myChart.generateLegend();
    });
  </script>
{% endblock %}