{% extends "C:\Users\User\PycharmProjects\online_courses\templates\header.html" %}
{% block content1 %}

    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js" />
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" />

<style>
.form-control:focus {
    box-shadow: none;
    border-color: #f5d05f
}

.profile-button {
    background: #f5d05f;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #f5d05f
}

.profile-button:focus {
    background: #f5d05f;
    box-shadow: none
}

.profile-button:active {
    background: #f5d05f;
    box-shadow: none
}

.back:hover {
    color: #f5d05f;
    cursor: pointer
}

.labels {
    font-size: 16px
}

.add-experience:hover {
    background: #f5d05f;
    color: #fff;
    cursor: pointer;
    border: solid 1px #f5d05f
}
</style>

    <div class="container ">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">

                {% if user.image_pic.url %}
                    <img class="rounded-circle mt-5" width="150px" height="150px"
                     src="{{ user.image_pic.url }}">
                      {% else %}
                      {% endif %}


                <br>
                <span class="font-weight-bold">{{ user.username }}</span>
                <span class="text-black-50">{{ user.email }}</span>
                <span> </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Настройки профиля</h4>
                </div>

                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="" placeholder="surname"></div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text" class="form-control" placeholder="enter address line 1" value=""></div>
                    <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control" placeholder="enter address line 2" value=""></div>
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" placeholder="enter email id" value=""></div>
                    <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                    <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="button">
                                Сохранить изменения</button>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="mt-5 text-center">
                            <button class="btn btn-primary profile-button" type="button">
                                Удалить профиль
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <label class="labels">Редактировать аватар</label>
                </div><br>

                <div class="col-md-12">
                    <label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
    </div>
</div>
<form method="post" enctype=multipart/form-data>
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Edit">
</form>
{% endblock %}