{% extends "C:\Users\User\PycharmProjects\online_courses\templates\header.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}


{% block content1 %}
    <link rel="stylesheet" href="{% static 'css/list_oi.css'%}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <STYLE>
        /* Всплывающая форма-скрыта по умолчанию */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
        }
    </STYLE>
     <section class="py-3">
    {% if notifications.count > 0 %}
        <section>
            <div class="list-group container md-3 my-3">
               {% for item in notifications %}

              <div class="list-group-item list-group-item-action d-flex gap-3 py-3">
{#                <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">#}
                <div class="d-flex gap-2 w-100 justify-content-between">
                  <div>
                    <h6 class="mb-3">Объявление {{ id }}</h6>
                    <p class="mb-3 opacity-75">
                        {{ item.course.title | safe}}
                        {{ item.content | safe}}
                        {{ item.course.author | safe}}
                    </p>
                  </div>
                  <small class="opacity-50 text-nowrap">{{ item.time_create }}</small>
                </div>
              </div>
                    <hr>
                {% endfor %}
            </div>
        </section>

    {% else %}

       <p>Вы не получали уведомлений по курсам</p>

    {% endif %}

{% endblock %}
