{% load static %}
{% load auth_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_index.css'%}" type="text/css">

    <script src="{% static 'js/sidebars.js'%}"></script>
    <link href="{% static 'css/sidebars.css' %}" rel="stylesheet">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}

    <style>

    </style>

</head>
<body>
{#<main class="container-fluid- g-0 vh-100"> fixed-top #}
<main class="g-0">
<header class="p-2 g-0 border-bottom  bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
{#      <div class="d-flex flex-wrap  align-items-center justify-content-center justify-content-md-start">#}
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                  <img src="/static/img/2_2.png" height="50px"/>
              </svg>
          </a>

          <ul class="nav col-12 col-md-auto me-md-auto mb-2 justify-content-center mb-md-0">
              <li><a href="{% url 'dashboard' %}" class="nav-link px-2 link-light">Главная</a></li>
              <li><a href="{% url 'catalog' %}" class="nav-link px-2 link-light">Каталог</a></li>
                <li><a href="{% url 'notifications_students' %}" class="nav-link px-2 link-light">Уведомления</a></li>

              {% if user.is_authenticated %}
                  {% if request.user|has_group:"Преподаватель" %}

                    <li><a href="{% url 'index' %}" class="nav-link px-2 link-light">Преподавание</a></li>

                  {% elif request.user|has_group:"Ученик" %}

                      <li><a href="#" class="nav-link px-2 link-light">Обучение</a></li>

                      <li><a href="{% url 'notifications_students' %}" class="nav-link px-2 link-light">Уведомления</a></li>

                  {% elif request.user|has_group:"Модератор" %}

                      <li><a href="#" class="nav-link px-2 link-light">Админка</a></li>

                  {% endif %}
                {% endif %}
        </ul>

        <form class="col-12 col-md-auto mb-3 mb-md-0 me-md-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>


          {% if user.is_authenticated %}
            <div class="dropdown text-end">
              <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if user.image_pic %}
                      <img src="{{ user.image_pic.url }}" alt="mdo" width="32" height="32" class="rounded-circle">
                  {% else %}
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                  {% endif %}
               </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
{#                <li><a class="dropdown-item" href="#">New project...</a></li>#}
                <li><a class="dropdown-item" href="{% url 'edit_data' %}">Настройки профиля</a></li>
                <li><a class="dropdown-item" href="{% url 'profile' %}">Профиль</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
              </ul>
            </div>

          {% else %}
            <div class="dropdown text-end">
                 <ul class="nav col-12 col-md-auto me-md-auto mb-2 justify-content-center mb-md-0">
                     <li><a href="{% url 'login' %}" class="nav-link px-2 link-light">Вход</a></li>
                     <li><a href="{% url 'register' %}" class="nav-link px-2 link-light">Регистрация</a></li>
                 </ul>
            </div>
          {% endif %}
      </div>
    </div>
  </header>

    <div class="py-0">
        {% block content1 %}

        {% endblock %}
    </div>
</main>
</body>
</html>